Repository faizad-lifull/machimusubi-vrt, changes with the labels that .github/labeler.yml gives for each.
All labels: :pencil: docs, :construction: rule:develop, :construction: rule:ci, :construction: rule:coding, :whale: app:container, :rocket: keel

.github/labeler.yml:

# このファイルは初回のみkeelctlによって生成されるため編集が可能です

### <!-- merge safe
":pencil: docs":
- "**/*.md"

":construction: rule:develop":
- CODEOWNERS

":construction: rule:ci":
- .github/*.yml
- .github/workflows/**/*

":construction: rule:coding":
- .yamllint.yml
- .eslintrc.json

":whale: app:container":
- .dockerignore
- Dockerfile

":rocket: keel":
- bin/create-cfn-stack.sh
- bin/init.sh
- bin/keelctl
- bin/repository-settings.sh
- bin/runbook-translator
- manifests/**/*
- policy/**/*
- .keelctl_version
- .keelctlignore
- keel.md
- keel_configuration.yaml
- template.yaml
### merge safe -->

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: gitignore
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: gitignore
  tests/src/vrt/locators.ts
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

deploy: 008006d7dde100a6cc6cecf9f0c19f0d008603fa
  .nojekyll
  pr-2/.DS_Store
  pr-2/locators.ts
  pr-2/screenshots/outputs/master/pc-Station Detail Basic information differences-img.jpeg
  pr-2/screenshots/outputs/targets/img/pc-Station Detail Basic information differences-img.jpeg
  pr-2/screenshots/outputs/targets/index.html
  pr-2/screenshots/outputs/targets/reg.json
  pr-2/screenshots/screenshots.ts
Labels: none

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  .github/workflows/e2e.yml
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

add: ubuntu-latest
  .github/workflows/e2e.yml
  .github/workflows/vrt.yml
  tests/package.json
  tests/src/e2e/e2e.spec.ts
Labels: :construction: rule:ci

repair gitignore
  .gitignore
Labels: none

feat: Refine
  readme.md
Labels: :pencil: docs

main
  .github/workflows/vrt.yml
Labels: :construction: rule:ci
