Repository faizad-lifull/machimusubi-vrt, changes with the labels that .github/labeler.yml gives for each.
All labels: :pencil: docs, :construction: rule:develop, :construction: rule:ci, :construction: rule:coding, :whale: app:container, :rocket: keel

feat: try actions
  readme.md
Labels: :pencil: docs

remove unrelated files
  .github/workflows/keel_cfn.yaml
  .github/workflows/keel_comment_command.yaml
  .github/workflows/keel_dockerfile.yaml
  .github/workflows/keel_ephemeral_environment_test.yaml
  .github/workflows/keel_issue_metrics.yaml
  .github/workflows/keel_keelctl_gen.yaml
  .github/workflows/keel_label_handler.yaml
  .github/workflows/keel_labeler.yaml
  .github/workflows/keel_manifest.yaml
  .github/workflows/keel_release_from_test.yaml
  .github/workflows/keel_renovate_keelctl.yaml
  .github/workflows/keel_repository_settings.yaml
  .github/workflows/keel_reverse_release_from_production.yaml
  .github/workflows/keel_stale.yaml
  .github/workflows/keel_super_linter.yaml
  .github/workflows/notify_docs_for_release.yml
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

remove libnss and node
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

no test
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

add back test
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

Add checkout
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

change Stage
  tests/src/utils/homes.origin.ts
Labels: none

change target
  .github/workflows/vrt.yml
  .gitignore
  tests/src/utils/homes.origin.ts
Labels: :construction: rule:ci

test
  .github/workflows/e2e.yml
  .gitignore
Labels: :construction: rule:ci

rebase develop
  tests/src/e2e/pc/index/index.spec.ts
  tests/src/e2e/pc/line/line-line.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-index.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-lifestyle.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-line.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-pref.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-station.spec.ts
  tests/src/e2e/pc/station-detail/lifestyle-results.spec.ts
  tests/src/e2e/pc/tealium/tealium.spec.ts
  tests/src/e2e/sp/station-detail/navigate-via-lifestyle.spec.ts
  tests/src/utils/constants.ts
  tests/src/utils/setup-browser.ts
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

push
  readme.md
Labels: :pencil: docs

push
  readme.md
Labels: :pencil: docs

feat: try actions
  readme.md
Labels: :pencil: docs

pull request
  readme.md
Labels: :pencil: docs

feat: Refine
  tests/package-lock.json
  tests/package.json
  tests/src/e2e/pc/line/line-line.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-lifestyle.spec.ts
  tests/src/e2e/pc/station-detail/lifestyle-results.spec.ts
  tests/src/e2e/pc/station-detail/locators.ts
  tests/src/e2e/pc/station-detail/navigate-via-lifestyle.spec.ts
  tests/src/e2e/pc/station-detail/navigate-via-line-station.spec.ts
  tests/src/e2e/pc/station-detail/verify-element.spec.ts
  tests/src/e2e/pc/tealium/tealium.spec.config.ts
  tests/src/e2e/pc/tealium/tealium.spec.ts
  tests/src/e2e/sp/station-detail/locators.ts
  tests/src/e2e/sp/station-detail/navigate-via-lifestyle.spec.ts
  tests/src/e2e/sp/station-detail/navigate-via-line-station.spec.ts
  tests/src/utils/constants.ts
  tests/src/utils/setup-browser.ts
Labels: none

pull request
  readme.md
Labels: :pencil: docs

feat: Refine
  tests/src/e2e/pc/area-reviews/area-reviews.spec.ts
  tests/src/e2e/pc/sitemap/sitemap-lifestyle.spec.ts
Labels: none

pull request
  readme.md
Labels: :pencil: docs

feat: Refine
  .github/workflows/e2e.yml
Labels: :construction: rule:ci

pull request
  readme.md
Labels: :pencil: docs

feat: Refine
  .github/workflows/e2e.yml
Labels: :construction: rule:ci

pull request
  readme.md
Labels: :pencil: docs

feat: Refine
  tests/src/__e2e/pc/area-reviews/area-reviews.spec.ts
  tests/src/__e2e/pc/index/index.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-index.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-lifestyle.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-line.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-pref.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-station.spec.ts
  tests/src/e2e/test.spec.ts
Labels: none

feat: Refine
  tests/src/__e2e/pc/area-reviews/area-reviews.spec.ts
  tests/src/__e2e/pc/index/index.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-index.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-lifestyle.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-line.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-pref.spec.ts
  tests/src/__e2e/pc/sitemap/sitemap-station.spec.ts
  tests/src/e2e/test.spec.ts
Labels: none

feat: Refine
  readme.md
Labels: :pencil: docs

feat: Refine
  .github/workflows/vrt.yml
  tests/src/e2e/e2e.spec.ts
  tests/src/e2e/test.spec.ts
Labels: :construction: rule:ci

feat: Refine
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: gitignore
  .gitignore
Labels: none

feat: gitignore
  .gitignore
Labels: none

feat: Refine
  .gitignore
  tests/src/vrt/locators.ts
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: Refine
  tests/src/vrt/locators.ts
Labels: none

feat: Refine
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  .github/workflows/vrt.yml
Labels: :construction: rule:ci

feat: gitignore
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: Refine
  readme.md
Labels: :pencil: docs

feat: gitignore
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

feat: Refine
  tests/src/vrt/locators.ts
Labels: none

modify: locator
  tests/src/vrt/locators.ts
Labels: none

feat: remove timeout
  tests/src/vrt/screenshots/screenshots.ts
Labels: none

.github/labeler.yml:

# このファイルは初回のみkeelctlによって生成されるため編集が可能です

### <!-- merge safe
":pencil: docs":
- "**/*.md"

":construction: rule:develop":
- CODEOWNERS

":construction: rule:ci":
- .github/*.yml
- .github/workflows/**/*

":construction: rule:coding":
- .yamllint.yml
- .eslintrc.json

":whale: app:container":
- .dockerignore
- Dockerfile

":rocket: keel":
- bin/create-cfn-stack.sh
- bin/init.sh
- bin/keelctl
- bin/repository-settings.sh
- bin/runbook-translator
- manifests/**/*
- policy/**/*
- .keelctl_version
- .keelctlignore
- keel.md
- keel_configuration.yaml
- template.yaml
### merge safe -->
